<!DOCTYPE html>
<html class="no-js" lang="en">
    <%- include('partials/head') %>
  <body data-mobile-nav-style="classic">
    <div class="box-layout">
        <!-- start header -->
       <%- include('partials/header') %>
       <!-- end header -->
      <!-- start page title -->
      <section
        class="half-section page-title-center-alignment top-space-margin"
      >
        <div class="container">
          <div class="row pt-20px pb-20px md-pt-0 md-pb-0">
            <div
              class="col-12 text-center position-relative page-title-large"
              data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
            >
              <h1
                class="alt-font d-block fw-700 text-dark-gray mb-0 ls-minus-1px"
              >
                Contact
              </h1>
              <h2 class="d-inline-block fw-500 ls-3px text-uppercase mb-0">
                Love to hear from you
              </h2>
            </div>
          </div>
        </div>
      </section>
      <!-- end page title -->
      <!-- start section -->
      <section class="pt-30px sm-pt-0">
        <div class="container">
          <div class="row align-items-center">
            <div
              class="col-12 col-xl-4 col-lg-5 col-md-6 sm-mb-30px"
              data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 300, "delay": 200, "staggervalue": 100, "easing": "easeOutQuad" }'
            >
              <span
                class="ls-2px text-uppercase text-dark-gray fw-500 lh-22 mb-20px d-block"
                >Get in
                <span
                  class="d-inline-block border-2 border-bottom border-color-transparent-base-color fw-800"
                  >touch</span
                >
                with us</span
              >
              <h3 class="fw-600 text-dark-gray alt-font mb-35px">
                Let’s Build Something Strong Together
              </h3>
              <!-- start features box item -->
              <div class="icon-with-text-style-01 mb-7 md-mb-30px">
                <div
                  class="feature-box feature-box-left-icon last-paragraph-no-margin"
                >
                  <div class="feature-box-icon me-25px">
                    <img
                      src="/images/demo-lawyer-contact-icon-01.jpg"
                      class="h-80px"
                      alt=""
                    />
                  </div>
                  <div class="feature-box-content last-paragraph-no-margin">
                    <span class="fs-18 d-block text-dark-gray fw-600 mb-5px"
                      >Keep in touch?</span
                    >
                    <p class="w-90">
                      Shop No. E434 Sewage Drain Mochi Gate Lahore.
                    </p>
                  </div>
                </div>
              </div>
              <!-- end features box item -->
              <!-- start features box item -->
              <div class="icon-with-text-style-01 mb-7 md-mb-30px">
                <div
                  class="feature-box feature-box-left-icon last-paragraph-no-margin"
                >
                  <div class="feature-box-icon me-25px">
                    <img
                      src="/images/demo-lawyer-contact-icon-02.jpg"
                      class="h-80px"
                      alt=""
                    />
                  </div>
                  <div class="feature-box-content">
                    <span class="fs-18 d-block text-dark-gray fw-600 mb-5px"
                      >Call anytime</span
                    >
                    <div class="w-100 d-block">
                      <span class="d-block">Phone: (+92) 300 8019432 </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end features box item -->
              <!-- start features box item -->
              <div class="icon-with-text-style-01">
                <div
                  class="feature-box feature-box-left-icon last-paragraph-no-margin"
                >
                  <div class="feature-box-icon me-25px">
                    <img
                      src="/images/demo-lawyer-contact-icon-03.jpg"
                      class="h-80px"
                      alt=""
                    />
                  </div>
                  <div class="feature-box-content">
                    <span class="fs-18 d-block text-dark-gray fw-600 mb-5px"
                      >Email address</span
                    >
                    <div class="w-100 d-block">
                      <a href="mailto:info@yourdomain.com"
                        >info@afzalsteelworks.com</a
                      ><br />
                    </div>
                  </div>
                </div>
              </div>
              <!-- end features box item -->
            </div>
            <div
              class="col-12 col-lg-7 col-md-6 offset-xl-1"
              data-anime='{ "el": "childs", "translateX": [15, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'
            >
              <img
                src="/images/project-1-3-3.png"
                class="w-100 h-700px"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <!-- end section -->
      <!-- start section -->
      <section
        class="p-7 bg-very-light-gray border-radius-6px position-relative overflow-hidden sm-px-0"
        data-anime='{ "translateY": [50, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'
      >
        <img
          src="https://via.placeholder.com/225x220"
          class="position-absolute top-minus-10px left-15px w-160px"
          alt=""
        />
        <img
          src="https://via.placeholder.com/279x236"
          class="position-absolute top-minus-30px right-minus-50px"
          alt=""
        />
        <img
          src="https://via.placeholder.com/215x190"
          class="position-absolute bottom-minus-30px left-150px"
          alt=""
        />
        <div class="container">
          <div class="row row-cols-md-1 justify-content-center">
            <div class="col">
              <div class="row mb-3">
                <div class="col-9">
                  <h2 class="alt-font text-dark-gray ls-minus-2px">
                    How we can help you?
                  </h2>
                </div>
                <div class="col-3 text-end">
                  <i
                    class="bi bi-envelope-open icon-extra-large text-dark-gray"
                  ></i>
                </div>
              </div>
              <!-- start contact form -->
              <form
                action="email-templates/contact-form.php"
                method="post"
                class="contact-form-style-03"
              >
                <div class="row justify-content-center">
                  <div class="col-md-6">
                    <label
                      for="exampleInputEmail1"
                      class="form-label fw-600 text-dark-gray mb-0"
                      >Enter your name*</label
                    >
                    <div class="position-relative form-group mb-25px">
                      <span class="form-icon"
                        ><i class="bi bi-emoji-smile text-dark-gray"></i
                      ></span>
                      <input
                        class="ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control required"
                        type="text"
                        name="name"
                        placeholder="What's your good name?"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label
                      for="exampleInputEmail1"
                      class="form-label fw-600 text-dark-gray mb-0"
                      >Email address*</label
                    >
                    <div class="position-relative form-group mb-25px">
                      <span class="form-icon"
                        ><i class="bi bi-envelope text-dark-gray"></i
                      ></span>
                      <input
                        class="ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control required"
                        type="email"
                        name="email"
                        placeholder="Enter your email address"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label
                      for="exampleInputEmail1"
                      class="form-label fw-600 text-dark-gray mb-0"
                      >Phone number</label
                    >
                    <div class="position-relative form-group mb-25px">
                      <span class="form-icon"
                        ><i class="bi bi-telephone text-dark-gray"></i
                      ></span>
                      <input
                        class="ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control"
                        type="tel"
                        name="phone"
                        placeholder="Enter your phone number"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label
                      for="exampleInputEmail1"
                      class="form-label fw-600 text-dark-gray mb-0"
                      >Subject</label
                    >
                    <div class="position-relative form-group mb-25px">
                      <span class="form-icon"
                        ><i class="bi bi-journals text-dark-gray"></i
                      ></span>
                      <input
                        class="ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control"
                        type="text"
                        name="subject"
                        placeholder="How can we help you?"
                      />
                    </div>
                  </div>
                  <div class="col-12 mb-4 sm-mb-30px">
                    <label
                      for="exampleInputEmail1"
                      class="form-label fw-600 text-dark-gray mb-0"
                      >Your message</label
                    >
                    <div
                      class="position-relative form-group form-textarea mb-0"
                    >
                      <textarea
                        class="ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control"
                        name="comment"
                        placeholder="Describe about your project"
                        rows="4"
                      ></textarea>
                      <span class="form-icon"
                        ><i class="bi bi-chat-square-dots text-dark-gray"></i
                      ></span>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <p class="mb-0 fs-14 lh-24 text-center text-md-start">
                      We are committed to protecting your privacy. We will never
                      collect information about you without your explicit
                      consent.
                    </p>
                  </div>
                  <div class="col-md-5 text-center text-md-end sm-mt-25px">
                    <input type="hidden" name="redirect" value="" />
                    <button
                      class="btn btn-small btn-dark-gray btn-box-shadow btn-round-edge text-transform-none primary-font submit"
                      type="submit"
                    >
                      Send message
                    </button>
                  </div>
                  <div class="col-12">
                    <div class="form-results mt-20px d-none"></div>
                  </div>
                </div>
              </form>
              <!-- end contact form -->
            </div>
          </div>
        </div>
      </section>
      <!-- end section -->
      <!-- start section -->
      <section class="half-section">
        <div class="container">
          <div
            class="row row-cols-1 row-cols-md-3 row-cols-sm-2 text-center justify-content-center"
            data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 300, "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'
          >
            <div
              class="col border-end xs-border-end-0 xs-border-bottom border-color-transparent-dark-gray sm-mb-25px xs-mb-20px xs-pb-20px"
            >
              <span class="text-uppercase fw-500 d-block">Have questions?</span>
              <a
                href="mailto:help@yourdomain.com"
                class="btn p-0 fs-19 text-dark-gray btn-hover-animation text-transform-none text-base-color-hover"
              >
                <span>
                  <span class="btn-text ls-0px">help@yourdomain.com</span>
                  <span class="btn-icon"
                    ><i
                      class="fa-sharp fa-solid fa-arrow-right align-middle icon-very-small"
                    ></i
                  ></span>
                </span>
              </a>
            </div>
            <div
              class="col border-end xs-border-end-0 xs-border-bottom border-color-transparent-dark-gray sm-mb-25px xs-mb-20px xs-pb-20px"
            >
              <span class="text-uppercase fw-500 d-block">Join our team?</span>
              <a
                href="mailto:careers@blogger.com"
                class="btn p-0 fs-19 text-dark-gray btn-hover-animation text-transform-none text-base-color-hover"
              >
                <span>
                  <span class="btn-text ls-0px">careers@blogger.com</span>
                  <span class="btn-icon"
                    ><i
                      class="fa-sharp fa-solid fa-arrow-right align-middle icon-very-small"
                    ></i
                  ></span>
                </span>
              </a>
            </div>
            <div class="col">
              <span class="text-uppercase fw-500 d-block"
                >Business inquiries?</span
              >
              <a
                href="mailto:info@yourdomain.com"
                class="btn p-0 fs-19 text-dark-gray btn-hover-animation text-transform-none text-base-color-hover"
              >
                <span>
                  <span class="btn-text ls-0px">info@yourdomain.com</span>
                  <span class="btn-icon"
                    ><i
                      class="fa-sharp fa-solid fa-arrow-right align-middle icon-very-small"
                    ></i
                  ></span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- end section -->
       <!-- start footer -->
       <%- include('partials/footer') %>
      <!-- end footer -->
    </div>
      <!-- start cookie message -->
      <%- include('partials/cookies') %>
    <!-- end cookie message -->
   <!-- start scroll progress -->
     <%- include('partials/scroll') %>
    <!-- end scroll progress -->
     <!-- javascript libraries -->
    <%- include('partials/scripts') %>
  </body>
</html>
