<!DOCTYPE html>
<html class="no-js" lang="en">
    <%- include('partials/head') %>
  <body data-mobile-nav-style="classic">
    <div class="box-layout">
      <!-- start header -->
       <%- include('partials/header') %>
       <!-- end header -->
      <!-- start page title -->
      <section
        class="half-section page-title-center-alignment top-space-margin"
      >
        <div class="container">
          <div class="row pt-20px pb-20px md-pt-0 md-pb-0">
            <div
              class="col-12 text-center position-relative page-title-large"
              data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
            >
              <h1
                class="alt-font d-block fw-700 text-dark-gray mb-0 ls-minus-1px"
              >
                Gallery
              </h1>
              <h2 class="d-inline-block fw-500 ls-3px text-uppercase mb-0">
                Precision. Strength. Style.
              </h2>
            </div>
          </div>
        </div>
      </section>
      <!-- end page title -->
      <!-- start section -->
      <section>
        <div class="container-fluid p-0">
          <div class="row justify-content-center mb-2">
            <div
              class="col-12 col-lg-5 text-center"
              data-anime='{ "el": "childs", "translateY": [-15, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
            >
              <span
                class="ls-2px text-uppercase text-dark-gray fw-500 lh-22 mb-10px d-block"
                >Our Work 
                <span
                  class="d-inline-block border-2 border-bottom border-color-transparent-base-color fw-800"
                  >Gallery</span
                ></span
              >
              <h3
                class="fw-600 text-dark-gray alt-font ls-minus-1px w-90 mx-auto"
              >
                Explore our latest projects and designs
              </h3>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-12">
              <ul
                class="blog-grid blog-wrapper grid grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large"
                data-anime='{ "el": "childs", "translateY": [15, 0], "translateX": [-15, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
              >
                <li class="grid-sizer"></li>
                <!-- start blog item -->
                <li class="grid-item">
                  <div
                    class="card border-radius-6px border-0 box-shadow-medium-bottom box-shadow-medium-bottom-hover"
                  >
                    <div class="blog-image">
                      <a
                        href="#"
                        class="d-block"
                        ><img src="images/gates-7.jpg" alt=""
                      /></a>
                      <div class="blog-categories">
                        <a
                          href="#"
                          class="categories-btn bg-dark-gray-transparent text-white text-uppercase fw-600"
                          >Gate</a
                        >
                      </div>
                    </div>
                  </div>
                </li>
                <!-- end blog item -->
                <!-- start blog item -->
                <li class="grid-item">
                  <div
                    class="card border-radius-6px border-0 box-shadow-medium-bottom box-shadow-medium-bottom-hover"
                  >
                    <div class="blog-image">
                      <a
                        href="#"
                        class="d-block"
                        ><img src="/images/staircases-04.jpg" alt=""
                      /></a>
                      <div class="blog-categories">
                        <a
                          href="#"
                          class="categories-btn bg-dark-gray-transparent text-white text-uppercase fw-600"
                          >Staircase</a
                        >
                      </div>
                    </div>
                  </div>
                </li>
                <!-- end blog item -->
                <!-- start blog item -->
                <li class="grid-item">
                  <div
                    class="card border-radius-6px border-0 box-shadow-medium-bottom box-shadow-medium-bottom-hover"
                  >
                    <div class="blog-image">
                      <a
                        href="#"
                        class="d-block"
                        ><img src="/images/Grills.webp" alt=""
                      /></a>
                      <div class="blog-categories">
                        <a
                          href="#"
                          class="categories-btn bg-dark-gray-transparent text-white text-uppercase fw-600"
                          >Grill</a
                        >
                      </div>
                    </div>
                  </div>
                </li>
                <!-- end blog item -->
                <!-- start blog item -->
                <li class="grid-item">
                  <div
                    class="card border-radius-6px border-0 box-shadow-medium-bottom box-shadow-medium-bottom-hover"
                  >
                    <div class="blog-image">
                      <a
                        href="#"
                        class="d-block"
                        ><img src="/images/steel-gate.jpg" alt=""
                      /></a>
                      <div class="blog-categories">
                        <a
                          href="#"
                          class="categories-btn bg-dark-gray-transparent text-white text-uppercase fw-600"
                          >Steel Gate</a
                        >
                      </div>
                    </div>
                  </div>
                </li>
                <!-- end blog item -->
                <!-- start blog item -->
                <li class="grid-item">
                  <div
                    class="card border-radius-6px border-0 box-shadow-medium-bottom box-shadow-medium-bottom-hover"
                  >
                    <div class="blog-image">
                      <a
                        href="#"
                        class="d-block"
                        ><img src="/images/steel-structer.jpg" alt=""
                      /></a>
                      <div class="blog-categories">
                        <a
                          href="#"
                          class="categories-btn bg-dark-gray-transparent text-white text-uppercase fw-600"
                          >Solar Structer</a
                        >
                      </div>
                    </div>
                  </div>
                </li>
                <!-- end blog item -->
                <!-- start blog item -->
                <li class="grid-item">
                  <div
                    class="card border-radius-6px border-0 box-shadow-medium-bottom box-shadow-medium-bottom-hover"
                  >
                    <div class="blog-image">
                      <a
                        href="#"
                        class="d-block"
                        ><img src="/images/metal-repairs.jpg" alt=""
                      /></a>
                      <div class="blog-categories">
                        <a
                          href="#"
                          class="categories-btn bg-dark-gray-transparent text-white text-uppercase fw-600"
                          >Metal Repairs</a
                        >
                      </div>
                    </div>
                  </div>
                </li>
                <!-- end blog item -->
                <!-- start blog item -->
                <li class="grid-item">
                  <div
                    class="card border-radius-6px border-0 box-shadow-medium-bottom box-shadow-medium-bottom-hover"
                  >
                    <div class="blog-image">
                      <a
                        href="#"
                        class="d-block"
                        ><img src="/images/welding-shutters.jpg" alt=""
                      /></a>
                      <div class="blog-categories">
                        <a
                          href="#"
                          class="categories-btn bg-dark-gray-transparent text-white text-uppercase fw-600"
                          >Shutters</a
                        >
                      </div>
                    </div>
                  </div>
                </li>
                <!-- end blog item -->
                <!-- start blog item -->
                <li class="grid-item">
                  <div
                    class="card border-radius-6px border-0 box-shadow-medium-bottom box-shadow-medium-bottom-hover"
                  >
                    <div class="blog-image">
                      <a
                        href="#"
                        class="d-block"
                        ><img src="/images/gates-3.jpg" alt=""
                      /></a>
                      <div class="blog-categories">
                        <a
                          href="#"
                          class="categories-btn bg-dark-gray-transparent text-white text-uppercase fw-600"
                          >Stylish Gate</a
                        >
                      </div>
                    </div>
                  </div>
                </li>
                <!-- end blog item -->
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- end section -->
       <!-- start footer -->
       <%- include('partials/footer') %>
      <!-- end footer -->
    </div>
    <!-- start cookie message -->
      <%- include('partials/cookies') %>
    <!-- end cookie message -->
   <!-- start scroll progress -->
     <%- include('partials/scroll') %>
    <!-- end scroll progress -->
     <!-- javascript libraries -->
    <%- include('partials/scripts') %>
  </body>
</html>

