<!DOCTYPE html>
<html class="no-js" lang="en">
  <%- include('partials/head') %>
  <body data-mobile-nav-style="classic">
    <div class="box-layout">
      <!-- start header -->
      <%- include('partials/header') %>
      <!-- end header -->
      <!-- start section -->
      <section class="top-space-margin p-0">
        <div class="container-fluid p-0">
          <div class="row g-0">
            <div class="col-12 blog-side-image">
              <div
                class="blog-box d-md-flex d-block flex-row flex-wrap h-100 border-radius-6px overflow-hidden"
              >
                <div
                  class="blog-image w-60 xl-w-50 md-w-100 cover-background"
                  style="background-image: url('images/hero-welder.png')"
                >
                  <a
                    href="demo-blogger-blog-single-classic.html"
                    class="blog-post-image-overlay"
                  ></a>
                </div>
                <div
                  class="blog-content w-40 xl-w-50 md-w-100 p-5 xxl-p-30px bg-very-light-gray d-flex flex-column justify-content-center align-items-start sm-ps-15px sm-pe-15px sm-pt-30px sm-pb-30px text-center text-md-start"
                  data-anime='{ "el": "childs", "translateX": [-15, 0], "perspective": [1200,1200], "scale": [1.1, 1], "rotateY": [50, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
                >
                  <div class="mb-20px sm-mx-auto">
                    <a href="#" class="fw-600 text-dark-gray d-inline-block"
                      >Welding</a
                    >
                    <span
                      class="fs-18 d-inline-block alt-font text-base-color ms-10px me-10px"
                      >•</span
                    >
                    <a
                      href="demo-blogger-fashion.html"
                      class="fw-600 text-dark-gray d-inline-block"
                      >Fabrication</a
                    >
                  </div>
                  <h2 class="fw-600 alt-font">
                    <a
                      href="demo-blogger-blog-single-classic.html"
                      class="card-title text-dark-gray text-dark-gray-hover ls-minus-1px"
                      >Strong Designs, Lasting Afzal Steel Works.</a
                    >
                  </h2>
                  <p class="w-85 lg-w-100">
                    At Afzal Steel Works, we specialize in high-quality welding
                    and steel fabrication services. From durable gates and
                    grills to custom steel structures, our skilled team delivers
                    reliable craftsmanship that stands the test of time. Trusted
                    for precision, strength, and commitment to excellence in
                    every project.
                  </p>
                  <div class="mt-18 xl-mt-10 md-mt-0 w-100">
                    <div
                      class="separator-line-2px bg-base-color mb-30px w-100"
                    ></div>
                    <div
                      class="d-flex align-items-center flex-column flex-md-row justify-content-center justify-content-md-start"
                    >
                      <div>
                        <img
                          src="images/welding-ceo.jpg"
                          class="rounded-circle w-50px h-50px me-10px"
                          alt=""
                        />
                        <div class="d-inline-block align-middle">
                          <a
                            href="tel:+923008019432"
                            class="text-dark-gray fw-600 text-decoration-line-bottom"
                            >Muhammad Afzal (CEO)</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end section -->
      <!-- start section -->
      <section>
        <div class="container-fluid p-0">
          <div class="row justify-content-center mb-2">
            <div
              class="col-12 col-md-8 text-center"
              data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'
            >
              <span
                class="ls-2px text-uppercase text-dark-gray fw-500 lh-22 mb-10px d-block"
              >
                Explore Our
                <span
                  class="d-inline-block border-2 border-bottom border-color-transparent-base-color fw-800"
                >
                  Services
                </span>
              </span>

              <h3
                class="fw-600 text-dark-gray alt-font ls-minus-1px w-90 mx-auto sm-w-100"
              >
                Quality Steel Works We Deliver
              </h3>
            </div>
          </div>
          <div
            class="row row-cols-xl-5 row-cols-md-3 row-cols-sm-2 row-cols-1 justify-content-center"
            data-anime='{ "el": "childs", "translateY": [-15, 0], "perspective": [1200,1200], "scale": [1.1, 1], "rotateX": [50, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
          >
            <!-- categories item -->
            <div class="col categories-style-03 lg-mb-30px">
              <div class="categories-box border-radius-6px overflow-hidden">
                <div class="category-image">
                  <a href="#" class="d-block">
                    <img src="images/gates.jpg" alt="gates" />
                    <div
                      class="position-absolute left-0px top-0px w-100 h-100 bg-gradient-gray-light-dark-transparent"
                    ></div>
                  </a>
                </div>
                <div class="category-title d-flex align-items-center">
                  <a href="#" class="fs-20 fw-600 text-white">Gates</a>
                  <div
                    class="circle-box bg-base-color fs-14 w-45px h-45px rounded-circle ms-auto d-flex align-items-center justify-content-center text-white fw-600"
                  >
                    01
                  </div>
                </div>
              </div>
            </div>
            <!-- end categories item -->
            <!-- categories item -->
            <div class="col categories-style-03 lg-mb-30px">
              <div class="categories-box border-radius-6px overflow-hidden">
                <div class="category-image">
                  <a href="#" class="d-block">
                    <img src="images/staircases.jpg" alt="" />
                    <div
                      class="position-absolute left-0px top-0px w-100 h-100 bg-gradient-gray-light-dark-transparent"
                    ></div>
                  </a>
                </div>
                <div class="category-title d-flex align-items-center">
                  <a href="#" class="fs-20 fw-600 text-white">Staircases</a>
                  <div
                    class="circle-box bg-base-color fs-14 w-45px h-45px rounded-circle ms-auto d-flex align-items-center justify-content-center text-white fw-600"
                  >
                    02
                  </div>
                </div>
              </div>
            </div>
            <!-- end categories item -->
            <!-- categories item -->
            <div class="col categories-style-03 lg-mb-30px">
              <div class="categories-box border-radius-6px overflow-hidden">
                <div class="category-image">
                  <a href="#" class="d-block">
                    <img src="images/welding.png" alt="" />
                    <div
                      class="position-absolute left-0px top-0px w-100 h-100 bg-gradient-gray-light-dark-transparent"
                    ></div>
                  </a>
                </div>
                <div class="category-title d-flex align-items-center">
                  <a href="#" class="fs-20 fw-600 text-white">Welding</a>
                  <div
                    class="circle-box bg-base-color fs-14 w-45px h-45px rounded-circle ms-auto d-flex align-items-center justify-content-center text-white fw-600"
                  >
                    03
                  </div>
                </div>
              </div>
            </div>
            <!-- end categories item -->
            <!-- categories item -->
            <div class="col categories-style-03 sm-mb-30px">
              <div class="categories-box border-radius-6px overflow-hidden">
                <div class="category-image">
                  <a href="#" class="d-block">
                    <img src="images/Fabrication.png" alt="" />
                    <div
                      class="position-absolute left-0px top-0px w-100 h-100 bg-gradient-gray-light-dark-transparent"
                    ></div>
                  </a>
                </div>
                <div class="category-title d-flex align-items-center">
                  <a href="#" class="fs-20 fw-600 text-white">Fabrication</a>
                  <div
                    class="circle-box bg-base-color fs-14 w-45px h-45px rounded-circle ms-auto d-flex align-items-center justify-content-center text-white fw-600"
                  >
                    04
                  </div>
                </div>
              </div>
            </div>
            <!-- end categories item -->
            <!-- categories item -->
            <div class="col categories-style-03">
              <div class="categories-box border-radius-6px overflow-hidden">
                <div class="category-image">
                  <a href="#" class="d-block">
                    <img src="images/Grills.webp" alt="" />
                    <div
                      class="position-absolute left-0px top-0px w-100 h-100 bg-gradient-gray-light-dark-transparent"
                    ></div>
                  </a>
                </div>
                <div class="category-title d-flex align-items-center">
                  <a href="#" class="fs-20 fw-600 text-white">Grills</a>
                  <div
                    class="circle-box bg-base-color fs-14 w-45px h-45px rounded-circle ms-auto d-flex align-items-center justify-content-center text-white fw-600"
                  >
                    05
                  </div>
                </div>
              </div>
            </div>
            <!-- end categories item -->
          </div>
        </div>
      </section>
      <!-- end section -->
      <!-- start section -->
      <section
        class="p-5 xxl-p-2 xl-pt-30px xl-pb-30px bg-very-light-gray border-radius-6px position-relative overflow-hidden"
      >
        <img
          src="images/demo-blogger-home-leaf-01.webp"
          class="position-absolute top-minus-10px left-15px w-160px"
          alt=""
        />
        <img
          src="images/demo-blogger-home-leaf-02.webp"
          class="position-absolute top-minus-30px right-minus-50px"
          alt=""
        />
        <img
          src="images/demo-blogger-home-leaf-03.webp"
          class="position-absolute bottom-minus-30px left-150px"
          alt=""
        />
        <div class="container-fluid">
          <div class="row align-items-center">
            <div
              class="col-12 col-xxl-3 text-center text-xxl-start xl-mt-30px xl-mb-30px sm-mt-20px"
              data-anime='{ "el": "childs", "translateX": [-15, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'
            >
              <span
                class="ls-2px text-uppercase text-dark-gray fw-500 lh-22 mb-15px d-block"
                >Latest
                <span
                  class="d-inline-block border-2 border-bottom border-color-transparent-base-color fw-800"
                  >Projects</span
                ></span
              >
              <h3
                class="fw-600 text-dark-gray alt-font ls-minus-1px mb-30px sm-mb-20px"
              >
                See our recent welding work & updates
              </h3>
              <a
                href="#"
                class="btn btn-medium btn-base-color btn-slide-right btn-rounded section-link"
                >Explore more<i class="fa-sharp fa-solid fa-arrow-right"></i
                ><span class="bg-very-light-gray"></span
              ></a>
            </div>
            <div class="col-12 col-xxl-9">
              <ul
                class="blog-grid blog-wrapper grid grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large"
                data-anime='{ "el": "childs", "translateX": [15, 0], "opacity": [0,1], "duration": 300, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'
              >
                <li class="grid-sizer"></li>
                <!-- start blog item -->
                <li class="grid-item">
                  <div
                    class="card border-0 border-radius-6px box-shadow-medium box-shadow-extra-large-hover"
                  >
                    <div class="blog-image">
                      <a
                        href="demo-blogger-blog-single-classic.html"
                        class="d-block"
                        ><img src="images/gates-2.jpg" alt=""
                      /></a>
                      <div class="blog-categories">
                        <a
                          href="#"
                          class="categories-btn bg-dark-gray-transparent text-white text-uppercase fw-600"
                          >Gate</a
                        >
                      </div>
                    </div>
                    <div class="card-body p-11">
                      <a
                        href="demo-blogger-blog-single-classic.html"
                        class="card-title mb-15px fw-600 fs-18 lh-26 text-dark-gray d-inline-block"
                      >
                        Modern Gate Installation</a
                      >
                      <p>
                        Recently completed a durable and stylish gate for a
                        client in Lahore.
                      </p>
                      <div
                        class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-15 text-uppercase"
                      >
                        <div class="me-auto">
                          <span
                            class="text-dark-gray blog-date d-inline-block fw-600 text-transform-none"
                          >
                            5 September 2025</span
                          >
                          <div
                            class="text-dark-gray text-dark-gray d-inline-block author-name text-transform-none"
                          >
                            By
                            <a
                              target="_blank"
                              href="https://wa.me/923009019432?text=Hello%20Afzal%20Steel%20Works!%20My%20name%20is%20%5BYour%20Name%5D.%20I%20am%20interested%20in%20your%20services."
                              class="text-dark-gray text-decoration-line-bottom fw-600"
                              >Afzal Steel Works Team</a
                            >
                          </div>
                        </div>
                        <div class="like-count fs-14">
                          <a href="#"
                            ><i
                              class="fa-regular fa-heart text-red d-inline-block"
                            ></i
                            ><span class="text-dark-gray align-middle fw-700"
                              >45</span
                            ></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- end blog item -->
                <!-- start blog item -->
                <li class="grid-item">
                  <div
                    class="card border-0 border-radius-6px box-shadow-medium box-shadow-extra-large-hover"
                  >
                    <div class="blog-image">
                      <a
                        href="demo-blogger-blog-single-classic.html"
                        class="d-block"
                        ><img src="images/steel-gate-01.jpg" alt=""
                      /></a>
                      <div class="blog-categories">
                        <a
                          href="#"
                          class="categories-btn bg-dark-gray-transparent text-white text-uppercase fw-600"
                          >Steel Gate</a
                        >
                      </div>
                    </div>
                    <div class="card-body p-11">
                      <a
                        href="demo-blogger-blog-single-classic.html"
                        class="card-title mb-15px fw-600 fs-18 lh-26 text-dark-gray d-inline-block"
                        >Modern Steel Gate</a
                      >
                      <p>
                        Premium quality iron gate designed for durability and a
                        sleek modern look.
                      </p>
                      <div
                        class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-15 text-uppercase"
                      >
                        <div class="me-auto">
                          <span
                            class="text-dark-gray blog-date d-inline-block fw-600 text-transform-none"
                          >
                            15 August 2024</span
                          >
                          <div
                            class="text-dark-gray text-dark-gray d-inline-block author-name text-transform-none"
                          >
                            By
                            <a
                              href="#"
                              class="text-dark-gray text-decoration-line-bottom fw-600"
                              >Afzal Steel Works</a
                            >
                          </div>
                        </div>
                        <div class="like-count fs-14">
                          <a href="#"
                            ><i
                              class="fa-regular fa-heart text-red d-inline-block"
                            ></i
                            ><span class="text-dark-gray align-middle fw-700"
                              >55</span
                            ></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- end blog item -->
                <!-- start blog item -->
                <li class="grid-item">
                  <div
                    class="card border-0 border-radius-6px box-shadow-medium box-shadow-extra-large-hover"
                  >
                    <div class="blog-image">
                      <a
                        href="demo-blogger-blog-single-classic.html"
                        class="d-block"
                        ><img src="images/staircases-02.jpg" alt=""
                      /></a>
                      <div class="blog-categories">
                        <a
                          href="#"
                          class="categories-btn bg-dark-gray-transparent text-white text-uppercase fw-600"
                          >Staircase</a
                        >
                      </div>
                    </div>
                    <div class="card-body p-11">
                      <a
                        href="demo-blogger-blog-single-classic.html"
                        class="card-title mb-15px fw-600 fs-18 lh-26 text-dark-gray d-inline-block"
                        >Modern Steel Staircase</a
                      >
                      <p>
                        Recently completed a durable and stylish staircase to
                        ensure safety and modern appeal.
                      </p>
                      <div
                        class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-15 text-uppercase"
                      >
                        <div class="me-auto">
                          <span
                            class="text-dark-gray blog-date d-inline-block fw-600 text-transform-none"
                            >09 September 2025</span
                          >
                          <div
                            class="text-dark-gray text-dark-gray d-inline-block author-name text-transform-none"
                          >
                            By
                            <a
                              href="#"
                              class="text-dark-gray text-decoration-line-bottom fw-600"
                              >Afzal Steel Works</a
                            >
                          </div>
                        </div>
                        <div class="like-count fs-14">
                          <a href="#"
                            ><i
                              class="fa-regular fa-heart text-red d-inline-block"
                            ></i
                            ><span class="text-dark-gray align-middle fw-700"
                              >60</span
                            ></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- end blog item -->
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- end section -->

      <!-- start section -->
      <section>
        <div class="container-fluid p-0">
          <div class="row justify-content-center mb-1">
            <div
              class="col-12 col-md-5 text-center"
              data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'
            >
              <span
                class="ls-2px text-uppercase text-dark-gray fw-500 lh-22 mb-10px d-block"
                >Our
                <span
                  class="d-inline-block border-2 border-bottom border-color-transparent-base-color fw-800"
                  >Work</span
                ></span
              >
              <h3
                class="fw-600 text-dark-gray alt-font ls-minus-1px w-90 mx-auto sm-w-100 sm-mb-20px"
              >
                Welding Insights
              </h3>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-12">
              <ul
                class="blog-grid blog-wrapper grid grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large"
                data-anime='{ "el": "childs", "translateY": [15, 0], "translateX": [-15, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
              >
                <li class="grid-sizer"></li>

                <% blogs.forEach(blog => { %>
                <li class="grid-item">
                  <div
                    class="card border-radius-6px border-0 box-shadow-medium-bottom box-shadow-medium-bottom-hover"
                  >
                    <div class="blog-image">
                      <a href="/blog/<%= blog.slug %>" class="d-block">
                        <img
                          src="<%= blog.imageUrl %>"
                          alt="<%= blog.title %>"
                        />
                      </a>
                      <div class="blog-categories">
                        <a
                          href="#"
                          class="categories-btn bg-dark-gray-transparent text-white text-uppercase fw-600"
                        >
                          <%= blog.category %>
                        </a>
                      </div>
                    </div>
                    <div class="card-body p-11">
                      <a
                        href="/blog/<%= blog.slug %>"
                        class="card-title mb-15px fw-600 fs-18 lh-26 text-dark-gray d-inline-block"
                      >
                        <%= blog.title %>
                      </a>
                      <p><%= blog.excerpt %></p>
                      <div
                        class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-15 text-uppercase"
                      >
                        <div class="me-auto">
                          <span
                            class="text-dark-gray blog-date d-inline-block fw-600 text-transform-none"
                          >
                            <%= new
                            Date(blog.createdAt).toLocaleDateString('en-US', {
                            day: 'numeric', month: 'long', year: 'numeric' }) %>
                          </span>
                          <div
                            class="text-dark-gray d-inline-block author-name text-transform-none"
                          >
                            By
                            <a
                              href="#"
                              class="text-dark-gray text-decoration-line-bottom fw-600"
                              ><%= blog.author %></a
                            >
                          </div>
                        </div>
                        <div class="like-count fs-14">
                          <a href="#"
                            ><i
                              class="fa-regular fa-heart text-red d-inline-block"
                            ></i>
                            <span class="text-dark-gray align-middle fw-700"
                              ><%= blog.likes %></span
                            >
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <% }) %>
              </ul>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-12 text-center">
              <a
                href="#"
                class="border border-color-extra-medium-gray d-inline-block"
                ><img src="https://via.placeholder.com/970x90" alt=""
              /></a>
            </div>
          </div> -->
        </div>
      </section>
      <!-- end section -->
      <!-- start section -->
      <section
        class="p-0 bg-very-light-gray border-radius-6px position-relative overflow-hidden"
      >
        <div class="container-fluid">
          <div class="row">
            <div
              class="col-12 col-md-6 p-8 lg-p-5 sm-pt-30px sm-pb-30px sm-ps-20px sm-pe-20px position-relative"
              data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
            >
              <img
                src="/images/demo-blogger-home-leaf-04.webp"
                class="position-absolute top-minus-30px left-minus-40px w-160px"
                alt=""
              />
              <img
                src="/images/demo-blogger-home-leaf-05.webp"
                class="position-absolute bottom-40px right-minus-40px w-160px"
                alt=""
              />
              <span
                class="ls-2px text-uppercase text-dark-gray fw-500 lh-22 mb-15px d-block"
                >Client
                <span
                  class="d-inline-block border-2 border-bottom border-color-transparent-base-color fw-800"
                  >Testimonials</span
                ></span
              >
              <h3
                class="fw-600 text-dark-gray alt-font ls-minus-1px w-90 xxl-w-100 mb-20px"
              >
                What Our Customers Say About Us
              </h3>
              <div
                class="swiper position-relative magic-cursor"
                data-slider-options='{ "autoHeight": true, "loop": true, "allowTouchMove": true, "autoplay": { "delay": 4000, "disableOnInteraction": false }, "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" }, "effect": "fade" }'
              >
                <div class="swiper-wrapper">
                  <!-- start text slider item -->
                  <div class="swiper-slide review-style-08">
                    <p class="w-70 xl-w-100">
                      Afzal Steel Works did excellent welding work for my shop
                      shutters. Very strong and durable.
                    </p>
                    <div class="mt-20px">
                      <img
                        class="rounded-circle w-95px h-95px me-15px"
                        src="/images/avtar-43.jpg"
                        alt=""
                      />
                      <div class="d-inline-block align-middle text-start">
                        <div class="text-dark-gray fs-19">
                          <span class="fw-700">Ahmed</span> Khan
                        </div>
                        <div class="review-star-icon fs-18">
                          <i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end text slider item -->
                  <!-- start text slider item -->
                  <div class="swiper-slide review-style-08">
                    <p class="w-70 xl-w-90 lg-w-100">
                      Professional team, fast service, and affordable prices.
                      Highly recommended for grill and gate welding.
                    </p>
                    <div class="mt-20px">
                      <img
                        class="rounded-circle w-95px h-95px me-15px"
                        src="/images/avtar-42.jpg"
                        alt=""
                      />
                      <div class="d-inline-block align-middle text-start">
                        <div class="text-dark-gray fs-19">
                          <span class="fw-700">Shoko</span> mugikura
                        </div>
                        <div class="review-star-icon fs-18">
                          <i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end text slider item -->
                  <!-- start text slider item -->
                  <div class="swiper-slide review-style-08">
                    <p class="w-70 xl-w-90 lg-w-100">
                      They repaired my steel gate perfectly, looks brand new
                      again!
                    </p>
                    <div class="mt-20px">
                      <img
                        class="rounded-circle w-95px h-95px me-15px"
                        src="/images/avtar-41.jpg"
                        alt=""
                      />
                      <div class="d-inline-block align-middle text-start">
                        <div class="text-dark-gray fs-19">
                          <span class="fw-700">Leonel</span> mooney
                        </div>
                        <div class="review-star-icon fs-18">
                          <i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end text slider item -->
                </div>
              </div>
            </div>
            <div
              class="col-12 col-md-6 cover-background sm-h-400px"
              style="background-image: url(/images/blog06.jpg)"
            >
              <a
                href="https://www.youtube.com/watch?v=cfXHhfNy7tU"
                class="absolute-middle-center text-center rounded-circle video-icon-box video-icon-extra-large popup-vimeo"
              >
                <span>
                  <span class="video-icon bg-white">
                    <i class="fa-solid fa-play text-dark-gray"></i>
                    <span class="video-icon-sonar">
                      <span
                        class="video-icon-sonar-bfr border border-2 border-color-white"
                      ></span>
                    </span>
                  </span>
                </span>
              </a>
              <div
                class="position-absolute text-center border-radius-5px right-25px bottom-25px sm-right-15px sm-bottom-15px ps-30px pe-30px sm-ps-20px sm-pe-20px blur-box bg-white-transparent"
              >
                <h2
                  class="mx-auto mb-0 fw-700 alt-font text-dark-gray mb-10px mt-15px"
                >
                  4.9
                </h2>
                <div class="text-base-color fs-16 ls-2px lh-10">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                  ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                  ><i class="bi bi-star-fill"></i>
                </div>
                <span
                  class="text-dark-gray text-uppercase fs-13 fw-700 mb-15px d-inline-block"
                  >TrustScore</span
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end section -->

      <!-- start section -->
      <section class="pt-60px pb-60px sm-pb-30px position-relative">
        <div class="container-fluid p-0">
          <div class="row justify-content-center">
            <div
              class="col-lg-12 col-md-12 col-sm-12 text-center elements-social social-icon-style-10"
            >
              <ul class="fs-18">
                <li class="me-15px ms-15px">
                  <a
                    class="facebook"
                    href="https://www.facebook.com/"
                    target="_blank"
                  >
                    <i class="fa-brands fa-facebook-f me-10px"></i>
                    <span class="fw-600">Facebook</span>
                  </a>
                </li>
                <li class="me-15px ms-15px">
                  <a
                    class="dribbble"
                    href="https://wa.me/923008019432"
                    target="_blank"
                  >
                    <i class="fa-brands fa-whatsapp me-10px"></i>
                    <span class="fw-600">Whatsapp</span>
                  </a>
                </li>
                <li class="me-15px ms-15px">
                  <a
                    class="twitter"
                    href="http://www.twitter.com"
                    target="_blank"
                  >
                    <i class="fa-brands fa-tiktok me-10px"></i>
                    <span class="fw-600">Tik Tok</span>
                  </a>
                </li>
                <li class="me-15px ms-15px">
                  <a
                    class="instagram"
                    href="http://www.instagram.com"
                    target="_blank"
                  >
                    <i class="fa-brands fa-instagram me-10px"></i>
                    <span class="fw-600">Instagram</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- end section -->
      <!-- start footer -->
      <%- include('partials/footer') %>
      <!-- end footer -->
    </div>
    <!-- start cookie message -->
    <%- include('partials/cookies') %>
    <!-- end cookie message -->
    <!-- start scroll progress -->
    <%- include('partials/scroll') %>
    <!-- end scroll progress -->
    <!-- javascript libraries -->
    <%- include('partials/scripts') %>
  </body>
</html>
